{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<!-- <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; DBS H2H</p>
</form> -->
<!-- <h1>Hello</h1> -->
<main role="main" class="container">
    <h1 class="mt-5">Order Book System</h1>
    <p class="lead">Buy and sell stocks, with ease.</p>
    <!-- <p>Use <a href="../sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p>
</main> -->

<footer class="footer">
    <div class="container">
        <span class="text-muted">Please login here</span>
    </div>
</footer>
{% endblock %}